/* font-1 */
.open-sans-syfont> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* font-2 */

.raleway-sytfont> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* font-3 */

.inter-sytlfont> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header */
.secondary-bg{
    background-color: #4d47ff23;
}
.header{background-image: url("../Assets/Hero-bg.png");
    width:1260px;
    height: 550px;

}
.second-bg{
    background-color: #4d47ff0b;
}
.another-bg{
    background-color: #FFFFFF;
    width:1260px;
    height: 350px;
}
/* shared style */
.dark-1{
    color: #4e47ff;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #4e47ff;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
}

/* nav style */
nav{
    display: flex;
    margin: 20px 110px;
    align-items: center;
    justify-content: space-between;
}
nav h3{
    font-size: 34px;
    font-weight: 900;
}
nav ul li{
    font-weight: bold;
    list-style: none;
    font-size: 16px;
}
/* banner styles */
.banner-title{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 0px;
}
/* action styles */
.Action{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.action-title{
    font-size: 45px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 0px;
}
.action-description{
    font-size: 24px;
    color: #25243281;
    font-weight: 200px;
    margin-top: 15px;
     max-width: 517px;
    
}
img{
    border-radius: 25%;
    max-width: 303px;
    max-height: 228px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* productive styles */
.productive{
    border-radius: 24px;
    margin: 50px 150px;
    text-align: center;
   
   
}
.productive-title{
    font-weight: bold;
    color: #252432;
    font-size: 38px;
    padding: 50px 80px;
    text-align: center;
    margin-bottom: 0px;
    
 
   
}
.productive-items {
    display: flex;
    gap:50px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    
    
}
.item-title{
    font-weight: bold;
    font-size: 40px;
    color: #4E47FF;
    
 
}
.item-description{
    font-size: 20px;
    font-weight:400;
    color: #00000077;
    
    
}
/* footer styles */
footer{
    margin: 50px 150px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content:space-between;
    max-width: 1140px;
    max-height: 630px;
    
}
footer input[type="email"], footer input[type="text"], footer textarea{
    width:490px ;
    height: 50px;
    color: #0f0101e4;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    padding: 5px 10px;
}
footer input[type="submit"]{
    width:490px ;
    height: 50px;
    padding: 5px 10px;
}
 .tag{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-title{
    font-size: 70px;
    font-weight: bold;
    max-width: 528px;
    max-height: 232px;
    margin-right: 150px;
    text-align: center;

}
.last{
    text-align: center;
    align-items: center;
    padding: 40px 60px;

}
footer a {
    /* display: flex; */
}
.items a{

    text-decoration: none;
    color: #8987A1;
    gap: 50px;

    
}
.last-title{
    font-size: 100px;
    width: 290px;
    height: 120px;
    color: #4e47ff;
    font-weight: bolder;
    /* align-items: center; */
    /* text-align: center; */
}
.last-description{
    color: #8987A1;
    width: 531px;
    height: 48;
}

